/* :root {
    background-color: cadetblue;
} */
h1{
    color: black;
    text-align: center;
    margin-block-start: 0;
    font-size: 50px;
    display: inline-block;

}
nav{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button#about{
    position: absolute;
    left: 10px;
}
div#info{
    position: relative;
    height: 0;
}
#about-content{
    background-color: royalblue;
    display: inline-block;
    left: 40px;
    position: absolute;
    top: -35px;
    visibility: hidden;
    padding: 15px;
}
p{
    text-align: center;
    font-size: 30px;
    color:orange;
}

h2{
    text-align: center;
    font-size: 16px;
    color: darkgreen;
}

img.car-image{
  width: 600px; 
  height: auto;
}
body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
   
    background-image: url(./images/fordf.webp);
    background-repeat: repeat-y;
    background-size: 100% auto;
  background-attachment: fixed;

}
